<%- include ../partials/header.ejs%>
<body>
	<div class="h1 text-center">
		<u>
		<%=newlyFoundUser.name%>
		</u>
	</div>

	<div class="container">
		<div class="row">
			<img src="/users/<%=newlyFoundUser._id%>/photo" alt="there should be a picture here" id="profilePhoto" class="mx-auto">
		</div>
	</div>

	<div class="h3 text-center">
		Posts by this user:
	</div>
	<div class="container">
		<div class="row">
			<ul class=" list-group text-center w-50 m-auto list-group-flush">
				<%newlyFoundUser.posts.forEach((post)=>{%>
					<li style="list-style-type:none;" class="list-group-item-info list-group-item-action my-2"><a href="/posts/<%=post._id%>"><%=post.name%></a></li>
				<%})%>
			</ul>
		</div>
	</div>
<%- include ../partials/footer.ejs%>