<%- include ../partials/header.ejs%>



<div class="container">
	<div class="h2 text-center mb-0">
		<%=post.name%>
	</div>
</div>


	<div class="h6 text-center mb-0">
		by <%=author.name%>
	</div>

<div class="p-3 mt-0">
	<div class="p-4">
	<article>
		<%=post.body%>
	</article>
	</div>
</div>

	<%if (user.super === true) {%>

	<a href="/posts/<%=post._id%>/edit">Edit Post</a>

		<%}%>

<div class="container">
		<ul>
			<%post.comments.forEach((comment) => { %>

				<li><%=comment.author%> says "<%=comment.body%>"</li>
					<%if(user.super === true) {%>

					<form action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
						<button>DELETE This Comment</button>
					</form>
					
					<%}%>
		
			<%})%>
		</ul>
</div>

	<form action="/posts/<%=post._id%>" method="POST">
		<textarea type="text" name="body" placeholder="thoughts?"></textarea><br>
		<button>Comment</button>
	</form>


<%- include ../partials/footer.ejs%>