<%- include ../partials/header.ejs%>

	<div class="text-center h1" id="topicHeadline">
		What do you want to know about?
	</div>

<div class="container mx-auto">
		<ul class="row" class="list-group text-center w-50 m-auto list-group-flush">
			<%topics.forEach((topic) => { %>
					<li class="list-group-item-secondary bg-dark list-group-item-action col-6 border border-white" style="list-style-type:none"><a href="topics/<%=topic._id%>" class="text-light h5" style="text-decoration: none"><%=	topic.name%>
					<br>
					<p class="text-warning"><%=topic.body%></p>
					
					<div class="container">

						<img src="/topics/<%=topic._id%>/photo" id="topicListPhoto">
					</div>
					
					</li>
					</a>
			<% })%>
		</ul>
</div>



<div class="text-center"
	<%if(user.super === true) {%>

	<h2><a href="/topics/new">CREATE TOPIC</h2></a>

	<%}%>
</div>

<br>
<br>
<br>


<%- include ../partials/footer.ejs%>