<%- include ../partials/header.ejs%>

<div class="text-center h1">
	<%=topic.name%><br>
</div>



	<div class="text-center h3" style="text-decoration: underline">
		What are we talking about?
	</div>

	<div class="container">
		<div class="row">
			<img src="/topics/<%=topic._id%>/photo" id="topicPhoto" class="mx-auto">
		</div>
	</div>
	
	<div class="text-center h6">
		
		<%=topic.body%>
	</div>


<div class="container">
	<div class="row">
		<ul class="list-group text-center w-50 m-auto list-group-flush">
			<div class="h4">Posts</div>
			<%topic.posts.forEach((post) => { %>
				<div class="">
					<li class="list-group-item-info list-group-item-action my-2" style="list-style-type:none	"><a href="/posts/<%=post._id%>" class="text-danger" style="text-decoration: none"><%=post.name%>
					<br>
					</li>
					</a>
				</div>
			
			
			<% })%>
		</ul>
	</div>
</div>

<div class="h4 text-center">
	<a href="/topics/<%=topic._id%>/new">Create New Post</a>
</div>


	<%if(user.super === true) {%>
	<div class="h5 text-center">
		<a href="/topics/<%=topic._id%>/edit">
			EDIT TOPIC
		</a>
	</div>

	<%}%>

<%- include ../partials/footer.ejs%>