<!DOCTYPE html>
<html>
<head>
	<title>Show Page</title>
</head>
<body>

	<h1>Topic Page!</h1>

	<%=topic.name%><br>

	<h2>What are we talking about?</h2><br>
		
		<h3><%=topic.name%></h3><br>
	
	<div class="container">
		
		<%=topic.body%>
	
	</div>

	<h1>NEW FREAKING POSTS</h1>

	<ul>
		<%for (let i=0; i <topic.posts.length; i++) {%>
		
<!-- 		These are links to /posts/topic.posts[i]._id
		//these are the show pages for posts -->


		<li><a href="/posts/<%=topic.posts[i]._id%>"><%=topic.posts[i].name%></a></li>

		<% } %>

	</ul>


	<h2><a href="/topics/<%=topic._id%>/new">Create New Post</a></h2>
	
	<%if(user.super === true) {%>

	<h2><a href="/topics/<%=topic._id%>/edit">EDIT TOPIC</h2></a>

	<%}%>

</body>
</html>