<%- include ../partials/header.ejs%>

<div class="text-center h1">
	<%=topic.name%><br>
</div>

	<div class="text-center h3" style="text-decoration: underline">
		What are we talking about?
	</div>
	
	<div class="text-center h6">
		
		<%=topic.body%>
	</div>

	Posts



<div class="container">
	<div class="row">
		<ul class="list-group text-center w-50 m-auto list-group-flush">
			<%topics.forEach((topic) => { %>
				
				<div class="">
					<li class="list-group-item-info list-group-item-action my-2" style="list-style-type:none	"><a href="topics/<%=topic._id%>" class="text-danger" style="text-decoration: none"><%=	topic.name%>
					<br>
					<p class="text-success"><%=topic.body%></p>
					</li>
					</a>
				</div>
			
			
			<% })%>
		</ul>
	</div>
</div>


	<ul>
		<%for (let i=0; i <topic.posts.length; i++) {%>	
<!-- 		These are links to /posts/topic.posts[i]._id
		//these are the show pages for posts -->
		<li><a href="/posts/<%=topic.posts[i]._id%>"><%=topic.posts[i].name%></a></li>

		<% } %>
	</ul>









	<h2><a href="/topics/<%=topic._id%>/new">Create New Post</a></h2>
	
	<%if(user.super === true) {%>

	<h2><a href="/topics/<%=topic._id%>/edit">EDIT TOPIC</h2></a>

	<%}%>

<%- include ../partials/footer.ejs%>